.loading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-size: 1rem;
}

.loading__inner {
  position: relative;
  margin: 0 auto;
  text-indent: -9999em;
  -webkit-animation: spinnerAnimation 1.1s infinite linear;
          animation: spinnerAnimation 1.1s infinite linear;
  border-top: 0.6em solid rgba(0, 0, 0, 0.2);
  border-right: 0.6em solid rgba(0, 0, 0, 0.2);
  border-bottom: 0.6em solid rgba(0, 0, 0, 0.2);
  border-left: 0.6em solid #e3120b;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.loading__inner,
.loading__inner::after {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
}

.loading--overlay,
.loading__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.loading__overlay {
  background: #fff;
}

/* eslint-disable selector-no-type */

@-webkit-keyframes spinnerAnimation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinnerAnimation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* eslint-enable selector-no-type */

.overlay {
  display: block;
  position: relative;
  height: 200px;
  background: rgb(128, 128, 128);
}

.loading__overlay {
  opacity: 0.8;
}

.loading__text {
  position: absolute;
  top: 50%;
  width: 100%;
  margin: auto;
  color: #000;
}

.loading__text-inner {
  width: 200px;
  margin: auto;
  font-size: 0.8em;
  text-align: center;
  background: #fff;
}
