@import './index.css';

.overlay {
  display: block;
  position: relative;
  height: 200px;
  background: #808080;
}

.loading__overlay {
  opacity: 0.8;
}

.loading__text {
  position: absolute;
  top: 50%;
  width: 100%;
  margin: auto;
  color: #000;
}

.loading__text-inner {
  width: 200px;
  margin: auto;
  font-size: 0.8em;
  text-align: center;
  background: #fff;
}
